body,div,figcaption,h2,h3,h4,img,input,li,p,ul {
	margin: 0;
	padding: 0
} 
body {
	min-width: 1340px;
	background-color:  #7FFFAA;
	background-image: url(../images/1.jpg);
	font-size: 14px; 
	font-family: "Microsoft YaHei";
	background-size:100% 100%;
	background-attachment: fixed;
	color:red
}

ul {
	list-style: none
}

img {
	border: none
}

a {
	outline: 0;
	color: #000;
	text-decoration: none
}

a:hover {
	color: #f03
}

header .topbac {
	border-bottom: 1px solid rgba(255,153,102,.3);
	background-color: #ffffff90
}

header .top {
	overflow: hidden;
	margin: 0 auto;
	width: 89%;
	height: 80px;
	 
}

header .top .logo {
	float: left;
	overflow: hidden;
	padding: 6px;
	padding-bottom: 13px;
	width: 74px;
	height: 67px
}

header .top .logo img {
	width: 100%;
	height: 100%
}

header .top .des {
	float: left;
	margin-top: 20px;
	padding-left: 10px;
	width: 185px;
	height: 40px;
	border-left: 1px solid #ccc;
	font-size: 15px
}

header .top .des-two {
	float: left;
	padding-top: 12px;
	padding-left: 50px;
	width: 420px;
	height: 60px
}

header .top ul {
	float: right;
	list-style: none
}

header .top ul li {
	float: left;
	width: 85px;
	height: 80px;
	text-align: center;
	line-height: 80px
}

header .top ul li:first-child {
	width: 110px
}

.sousuo {
	margin-bottom: 5px;
	width: 100%;
	height: 135px;
	background-color: #fdfdfd00;
	text-align: center
}

.sousuo h1 {
	margin: 0 auto;
	padding: 12px 0 4px 0;
	width: 76.5%;
	height: 35px;
	color: #666;
	text-align: center;
	text-shadow: 3px 3px 3px rgba(0,0,0,.1);
	letter-spacing: 5px;
	font-weight: 500;
	font-family: YouYuan
}

.sousuo .search {
	position: relative;
	z-index: 10;
	margin: 2px auto;
	padding: 5px;
	width: 650px;
	height: 40px
}

.sousuo .search #search-miao {
	position: absolute;
	bottom: 30px;
	left: 50%;
	z-index: -1;
	display: block;
	margin-left: -15px;
	width: 30px;
	height: 32px;
	background: url(../images/miao.gif) no-repeat left top
}

.sousuo .search li {
	float: left
}

.sousuo .search input {
	outline: 0;
	border: none
}

.search input.inputwords {
	padding-left: 3px;
	width: 496px;
	height: 40px;
	border-radius: 3px 0 0 3px;
	text-indent: 4px;
	font-family: "Microsoft YaHei"
}

.search input.gosearch {
	width: 75px;
	height: 40px;
	border-radius: 0;
	background-color: #ff8c69;
	color: #fff;
	font-size: 14px;
	font-family: "Microsoft YaHei";
	line-height: 40px;
	opacity: .9;
	cursor: pointer;
	-webkit-appearance: none
}

.sousuo .search li.advanced {
	width: 75px;
	height: 40px;
	border-radius: 0 3px 3px 0;
	background-color: #f96;
	color: #eee;
	font-size: 14px;
	line-height: 40px
}

.sousuo .search li:hover {
	color: #fff
}

.sousuo .tj {
	display: none
}

.sousuo .hot {
	color:#1736b4;
	font-size: 13px
}

.sousuo .hot a {
	color:#06c;
	opacity: .8
}

.sousuo .hot a:hover {
	text-decoration: underline;
	opacity: 1
}

.funny {
	margin: 0 auto;
	width: 77%;
	height: 300px
}

.funny ul.subcon li a {
	position: relative;
	float: left;
	display: block;
	margin: 15px .5%;
	margin-top: 15px;
	width: 13.425%;
	height: 80px;
	border-radius: 5px;
	color: #fff;
	text-align: center;
	font-weight: 500;
	font-size: 16px;
	line-height: 80px;
	opacity: .55;
	-webkit-transition: all .35s;
	-moz-transition: all .35s;
	-o-transition: all .35s;
	transition: all .35s;
	-ms-transition: all .35s
}

.funny ul.subcon li.one a {
	margin-left: 0
}

.funny ul.subcon li.seven a {
	margin-right: 0
}

.funny ul.subcon li.one a {
	background: #ddd url(../images/b4.jpg) no-repeat;
	background-size: cover
}

.funny ul.subcon li.two a {
	background: #ddd url(../images/b2.jpg) no-repeat;
	background-size: cover
}

.funny ul.subcon li.three a {
	background: #ddd url(../images/b3.jpg) no-repeat;
	background-size: cover
}

.funny ul.subcon li.four a {
	background: #ddd url(../images/b5.jpg) no-repeat;
	background-size: cover
}

.funny ul.subcon li.five a {
	background: #ddd url(../images/b6.jpg) no-repeat;
	background-size: cover
}

.funny ul.subcon li.six a {
	background: #ddd url(../images/b7.jpg) no-repeat;
	background-size: cover
}

.funny ul.subcon li.seven a {
	background: #ddd url(../images/b1.jpg) no-repeat;
	background-size: cover
}

.funny ul.subcon li a:hover {
	opacity: .95
}

.content .daily {
	overflow: hidden;
	margin: 0 auto;
	margin-bottom: 30px;
	width: 77%;
	height: auto;
	border-radius: 5px;
	background-color: #FFFAFA9c;
	text-align: center
}

.content .daily li {
	display: inline-block;
	width: 32.9%;
	height: auto;
	text-align: center
}

.content .daily li h3 {
	margin: 0 auto;
	padding: 10px 0;
	width: 80px;
	height: 20px;
	color: #666;
	text-align: center
}

.content .daily li a {
	display: inline-block;
	margin-bottom: 13px;
	padding: 0 10px;
	width: auto;
	height: 25px;
	border: 1px solid #ea15f9;	
	border-radius: 3px;
	color: #2b00ff;
	text-align: center;
	line-height: 25px;
	-webkit-transition: all .25s ease;
	-o-transition: all .25s ease;
	transition: all .25s ease
}

.content .daily li a:hover {
	border-color: #fff;
	background-color: #f4645f;
	color: #fff
}

.content .com {
	margin: 0 auto;
	margin-bottom: 30px;
	width: 77%;
	min-height: 230px;
	border-radius: 5px;
	box-shadow: 0 26px 40px -24px rgba(0,36,100,.12);
	-webkit-transition: all .25s ease;
	-o-transition: all .25s ease;
	transition: all .25s ease
}

.clearfloat {
	clear: both;
	height: 0;
	font-size: 1px;
	line-height: 0
}

.content .com:hover {
	box-shadow: 0 26px 40px -24px rgba(0,36,100,.35)
}

.content .daily,.content .tools {
	margin-bottom: 0
}

.content .tools {
	border-top: 1px dashed #ddd;
	background-color: #fff
}

.content .com .sub-com {
	float: left;
	margin: 5px;
	width: 47.8%
}

.content .com .mobile {
	margin-left: 30px
}

.content .com .sub-com h3 {
	padding: 5px 5px 23px 5px;
	color: #666
}

.content .com h2 {
	padding: 5px 5px 5px 10px;
	height: 30px;
	border-bottom: 1px dashed #ddd;
	color: #555
}

.content .com h2 span {
	display: inline-block;
	width: 140px;
	height: 35px;
	border-bottom: 1px solid #f66
}

.content .com a {
	display: inline-block;
	margin: 0 0 28px 5px;
	padding: 0 8px;
	height: 25px;
	border: 1px solid #dbe80e;
	border-radius: 3px;
	color: #c400ff;
	line-height: 25px;
	-webkit-transition: all .2s ease;
	-o-transition: all .2s ease;
	transition: all .2s ease
}

.content .com a:hover {
	border-color: #fff;
	background-color: #f4645f;
	color: #fff
}

button {
	padding: 1px 8px;
	outline: 0;
	border: 0;
	border-radius: 0 0 5px 5px;
	background-color: #eee;
	color: #888;
	font-size: 22px;
	cursor: pointer
}

.content #more {
	margin: 0 auto;
	width: 77%;
	height: 30px;
	text-align: center;
	line-height: 30px
}

.content #more a:hover button {
	background-color: #ddd;
	color: #f60
}

.content .coolsite {
	background-color: #FFFAFA9c
}

.content .english {
	background-color: #FFFAFA9c
}

.content .programmer {
	background-color: #FFFAFA9c
}

.content .public {
	background-color: #FFFAFA9c
}

.tuijian {
	overflow: hidden;
	margin: 0 auto;
	width: 77%;
	height: 100px;
	border-radius: 5px 5px 0 0;
	background-color: #fff;
	text-align: center
}

.tuijian .tj {
	list-style: none
}

.tuijian .tj li a {
	float: left;
	display: block;
	margin: 15px .78%;
	width: 14.9%;
	height: 70px;
	border: 1px solid #fff;
	border-radius: 5px;
	color: #444;
	font-size: 16px;
	line-height: 70px;
	opacity: .75;
	-webkit-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease
}

.tuijian .tj li.first-one {
	margin-left: 0
}

.tuijian .tj li a:hover {
	border: 1px solid #fff;
	background-color: #f08080;
	color: #fff;
	opacity: 1
}

.random {
	overflow: hidden;
	margin: 0 auto;
	width: 77%;
	height: 300px;
	border-radius: 0 0 5px 5px;
	box-shadow: 0 26px 40px -24px rgba(0,36,100,.25);
	text-align: center
}

.random ul li a {
	float: left;
	display: inline-block;
	width: 16.665%;
	height: 100px;
	color: #fff;
	font-weight: 500;
	font-size: 16px;
	line-height: 100px;
	opacity: .75;
	-webkit-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease
}

.random ul li a:hover {
	font-size: 18px;
	opacity: 1
}

.random ul li .one {
	width: 33.33%;
	height: 300px;
	background: #e7eff4 url(../images/r12.jpg);
	background-size: cover
}

.random ul li .two {
	width: 33.33%;
	background: #faebd7 url(../images/r2.jpg);
	background-size: cover
}

.random ul li .three {
	background: #f0f8ff url(../images/r4.jpg);
	background-size: cover
}

.random ul li .four {
	background: #faebd7 url(../images/r3.jpg);
	background-size: cover
}

.random ul li .five {
	background: #f0f8ff url(../images/r8.jpg);
	background-size: cover
}

.random ul li .six {
	background: #faebd7 url(../images/r1.jpg);
	background-size: cover
}

.random ul li .seven {
	width: 33.33%;
	background: #f0f8ff url(../images/r2.jpg);
	background-size: cover
}

.random ul li .eight {
	width: 33.33%;
	background: #faebd7 url(../images/r4.jpg);
	background-size: cover
}

.random ul li .nine {
	background: #f0f8ff url(../images/r7.jpg);
	background-size: cover
}

.random ul li .ten {
	background: #faebd7 url(../images/r8.jpg);
	background-size: cover
}

.footerimg {
	margin-top: 50px;
	width: 100%;
	height: 270px;
	background: #999 url(../images/largebg.png);
	background-size: cover;
	text-align: center
}

.footerimg h2 {
	margin: 0 auto;
	padding-top: 55px;
	width: 350px;
	height: 90px;
	border-bottom: 1px solid #bbb;
	color: #eee;
	text-align: center;
	letter-spacing: 3px;
	font-weight: 500;
	font-size: 30px
}

.footerimg p {
	margin-top: 5px;
	color: #fff;
	font-size: 12px
}

.footerimg .msite {
	color: #fff;
	font-size: 12px;
	opacity: .8;
	cursor: pointer
}

.footerimg .msiteimg {
	display: none;
	overflow: hidden;
	margin: 0 auto;
	width: 100px;
	height: 100px;
	border-radius: 5px
}

.footerimg img {
	width: 100%;
	height: 100%
}

.footerimg .msite:hover .msiteimg {
	display: block
}

#btn {
	position: fixed;
	bottom: 120px;
	left: 50%;
	display: none;
	margin-left: 43.5%;
	width: 40px;
	height: 40px;
	border-radius: 20px;
	background: #3cb371;
	line-height: 40px
}

.fa-chevron-up {
	width: 40px;
	height: 40px;
	color: #ddd;
	text-align: center;
	font-size: 22px;
	line-height: 40px
}

#btn:hover {
	background: #3c6
}

.saoyisao {
	position: fixed;
	bottom: 75px;
	left: 50%;
	margin-left: 43.5%;
	padding: 4px;
	width: 32px;
	height: 32px;
	border-radius: 20px;
	background: #fff;
	box-shadow: 0 5px 10px rgba(0,0,0,.12)
}

.erweima {
	position: fixed;
	bottom: 55px;
	left: 50%;
	display: none;
	margin-left: 34%;
	padding: 2px;
	width: 120px;
	height: 140px;
	border-radius: 5px;
	background: #fff;
	box-shadow: 0 0 8px rgba(0,0,0,.5);
	color: #666;
	text-align: center
}

.erweima img {
	width: 100%;
	height: 85%
}

a.saoyisao:hover {
	background-color: #eee
}

footer {
	width: 100%;
	height: auto;
	border-top: 1px solid #303030;
	background-color: #111
}

.copyright {
	margin: 0 auto;
	padding: 25px 0;
	width: 76.8%;
	color: #444
}

.copyright li {
	float: right;
	width: 14.5%
}

.copyright li.link {
	float: left;
	width: 71%
}

.copyright li b {
	display: inline-table;
	margin-bottom: 6px;
	color: #666
}

footer a {
	color: #444;
	text-decoration: none
}

footer a:hover {
	color: #444;
	text-decoration: underline
}

footer span {
	display: block;
	margin: 0 auto;
	padding: 25px 0;
	width: 76.8%;
	color: #444
}

.cd ul {
	position: fixed;
	top: 217px;
	left: 2.5%;
	clear: both;
	width: 90px;
	min-height: 350px;
	border: 1px solid #eee;
	border-radius: 5px;
	background-color: #fff;
	text-align: center
}

.cd ul a {
	color: #555
}

.cd ul li {
	width: 90px;
	height: 38px;
	border-bottom: 1px solid #eee;
	line-height: 38px;
	cursor: pointer
}

.cd ul li:hover {
	background-color: #eee;
	color: #f60
}

@media only screen and (min-width:2181px) {
	body {
		font-size: 16px
	}

	header .top {
		width: 67%
	}

	header .top .des {
		padding-bottom: 4px;
		font-size: 16px
	}

	.sousuo h1 {
		padding: 14px 0 8px 0
	}

	.sousuo .search {
		width: 770px;
		height: 45px
	}

	.sousuo .search #search-miao {
		bottom: 36px
	}

	.search input.inputwords {
		width: 596px;
		height: 45px;
		font-size: 15px
	}

	.search input.gosearch {
		width: 85px;
		height: 45px;
		font-size: 15px;
		line-height: 45px
	}

	.sousuo .search li.advanced {
		width: 85px;
		height: 45px;
		font-size: 15px;
		line-height: 45px
	}

	.sousuo .hot {
		font-size: 14px
	}

	.funny {
		width: 60.2%
	}

	.funny ul.subcon li a {
		font-size: 17px
	}

	.content .daily {
		width: 60.2%
	}

	.content .daily li h3 {
		padding: 13px 0
	}

	.content .daily li a {
		height: 30px;
		line-height: 30px
	}

	.content .com {
		width: 60.2%
	}

	.content .com a {
		height: 30px;
		line-height: 30px
	}

	.tuijian {
		width: 60.2%
	}

	.random {
		width: 60.2%
	}

	.tuijian .tj li a {
		font-size: 17px
	}

	.random ul li a {
		font-size: 18px
	}

	.random ul li a:hover {
		font-size: 20px
	}

	.footerimg h2 {
		width: 410px
	}

	.footerimg p {
		font-size: 14px
	}

	.footerimg .msite {
		font-size: 14px
	}

	.copyright {
		width: 60.2%
	}

	footer span {
		width: 60.2%
	}

	#btn {
		margin-left: 31.5%
	}

	.saoyisao {
		margin-left: 31.5%
	}

	.erweima {
		font-size: 14px
	}

	.cd ul {
		top: 231px;
		left: 14%
	}
}

@media only screen and (max-width:2180px) and (min-width:1650px) {
	body {
		font-size: 16px
	}

	header .top {
		width: 80%
	}

	header .top .des {
		padding-bottom: 4px;
		font-size: 16px
	}

	.sousuo h1 {
		padding: 14px 0 8px 0
	}

	.sousuo .search {
		width: 770px;
		height: 45px
	}

	.sousuo .search #search-miao {
		bottom: 36px
	}

	.search input.inputwords {
		width: 596px;
		height: 45px;
		font-size: 15px
	}

	.search input.gosearch {
		width: 85px;
		height: 45px;
		font-size: 15px;
		line-height: 45px
	}

	.sousuo .search li.advanced {
		width: 85px;
		height: 45px;
		font-size: 15px;
		line-height: 45px
	}

	.sousuo .hot {
		font-size: 14px
	}

	.funny {
		width: 73.2%
	}

	.funny ul.subcon li a {
		font-size: 17px
	}

	.content .daily {
		width: 73.2%
	}

	.content .daily li h3 {
		padding: 13px 0
	}

	.content .daily li a {
		height: 30px;
		line-height: 30px
	}

	.content .com {
		width: 73.2%
	}

	.content .com a {
		height: 30px;
		line-height: 30px
	}

	.tuijian {
		width: 73.2%
	}

	.random {
		width: 73.2%
	}

	.tuijian .tj li a {
		font-size: 17px
	}

	.random ul li a {
		font-size: 18px
	}

	.random ul li a:hover {
		font-size: 20px
	}

	.footerimg h2 {
		width: 410px
	}

	.footerimg p {
		font-size: 14px
	}

	.footerimg .msite {
		font-size: 14px
	}

	.copyright {
		width: 73.2%
	}

	footer span {
		width: 73.2%
	}

	#btn {
		margin-left: 41.36%
	}

	.saoyisao {
		margin-left: 41.36%
	}

	.erweima {
		font-size: 14px
	}

	.cd ul {
		top: 231px;
		left: 7%
	}
}

@media only screen and (max-width:1280px) and (min-width:1080px) {
	body {
		min-width: 1200px
	}

	header .top {
		width: 96%
	}

	.funny {
		width: 87%
	}

	.content .daily {
		width: 87%
	}

	.content .com {
		width: 87%
	}

	.tuijian {
		width: 87%
	}

	.random {
		width: 87%
	}

	.copyright {
		width: 87%
	}

	footer span {
		width: 87%
	}

	#btn {
		margin-left: 45.36%
	}

	.saoyisao {
		margin-left: 45.36%
	}

	.cd ul {
		display: none
	}
}

@media only screen and (max-width:1080px) and (min-width:420px) {
	body {
		min-width: 1077px
	}

	header .top {
		width: 96%
	}

	header .top .des-two {
		display: none
	}

	.funny {
		width: 95%
	}

	.content .daily {
		width: 95%
	}

	.content .com {
		width: 95%
	}

	.tuijian {
		width: 95%
	}

	.random {
		width: 95%
	}

	.copyright {
		width: 96.8%
	}

	footer span {
		width: 96.8%
	}

	#btn {
		margin-left: 45.36%
	}

	.saoyisao {
		margin-left: 45.36%
	}

	.cd ul {
		display: none
	}
}

@media only screen and (max-width:420px) {
	header .top {
		height: 160px
	}

	header .top .logo {
		padding: 12px;
		width: 154px;
		height: 135px
	}

	header .top .des {
		margin-top: 26px;
		width: 460px;
		height: 107px;
		font-size: 40px
	}

	header .top .des-two {
		display: none
	}

	header .top ul li {
		display: none
	}

	header .top ul li.tucao {
		display: block;
		margin-left: 5px;
		width: 250px;
		font-size: 40px;
		line-height: 160px
	}

	header .top ul li.yiyan {
		display: block;
		margin-left: 5px;
		width: 255px;
		font-size: 40px;
		line-height: 160px
	}

	.sousuo {
		margin-bottom: 5px;
		height: 208px
	}

	.sousuo h1 {
		display: none
	}

	.sousuo .search {
		margin: 22px auto;
		margin-top: 35px;
		padding: 5px;
		width: 1260px;
		height: 110px
	}

	.search input.inputwords {
		width: 1070px;
		height: 118px;
		text-indent: 12px;
		font-size: 36px
	}

	.search input.gosearch {
		width: 186px;
		height: 118px;
		font-size: 36px;
		line-height: 100px
	}

	.sousuo .search li.advanced {
		display: none
	}

	.funny {
		display: none
	}

	.sousuo .tj {
		display: table;
		margin-top: 30px;
		width: 100%
	}

	.sousuo .tj a {
		position: relative;
		display: inline-block;
		padding: 5px 0;
		width: 16.66666%;
		text-align: center;
		font-size: 40px;
		line-height: 20px
	}

	.sousuo .tj span {
		display: block;
		margin: 0 auto 1px
	}

	.sousuo .tj span i {
		font-size: 58px
	}

	.sousuo .tj p {
		display: block;
		color: #666;
		-webkit-margin-before: .8em;
		-webkit-margin-after: .8em;
		-webkit-margin-start: 0;
		-webkit-margin-end: 0
	}

	.sousuo .hot {
		display: none
	}

	.content #more,.content .tools {
		display: none
	}

	.content .daily {
		margin: 0 auto;
		margin-top: 280px;
		margin-bottom: 30px;
		width: 95%;
		height: auto
	}

	.content .daily li {
		width: 100%
	}

	.content .daily li h3 {
		padding: 30px;
		width: 250px;
		height: 50px;
		font-size: 40px
	}

	.content .daily li a {
		margin: 0 10px;
		margin-bottom: 40px;
		padding: 8px 12px;
		height: 60px;
		font-size: 40px;
		line-height: 60px
	}

	.content .com {
		margin-bottom: 30px;
		width: 95%;
		min-height: 680px;
		font-size: 40px
	}

	.content .com .sub-com {
		float: left;
		margin: 5px;
		width: 95%;
		text-align: center
	}

	.content .com .mobile,.content .com .pc {
		margin-left: 30px
	}

	.content .com .sub-com h3 {
		margin: 0 auto;
		padding: 25px 0;
		width: 90%;
		height: 60px;
		font-size: 40px
	}

	.content .com h2 {
		display: none
	}

	.content .com h2 span {
		display: none
	}

	.content .com a {
		margin: 0 0 40px 8px;
		padding: 8px 12px;
		height: 50px;
		line-height: 50px
	}

	.tuijian {
		display: none
	}

	.random {
		width: 95%;
		height: 390px;
		border-radius: 8px
	}

	.random ul li a {
		height: 130px;
		font-size: 30px;
		line-height: 130px
	}

	.random ul li .one {
		height: 390px
	}

	.footerimg {
		margin-top: 30px;
		width: 100%;
		height: 350px
	}

	.footerimg h2 {
		padding-top: 95px;
		width: 650px;
		height: 120px;
		border-bottom: 0 solid #bbb;
		font-size: 48px
	}

	.footerimg p {
		display: none
	}

	.footerimg .msite {
		display: none
	}

	.copyright {
		display: none
	}

	footer span {
		padding: 30px 0;
		width: 95%;
		text-align: center;
		font-size: 32px
	}

	.cd ul {
		display: none
	}
}